<h3>Meu pedido</h3>

<table>
  <thead>
    <th>Produto</th>
    <th>Preço unitário</th>
    <th>Quantidade</th>
  </thead>
  <tbody>
    <% carrinho_atual.itens.each do |produto| %>
      <% item = carrinho_atual.encontrar_item_carrinho(produto) %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= number_to_currency produto.preco %></td>
        <td><%= item.quantidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Confirmar dados</h3>



<%= form_for @pedido do |f| %>
  
  <h3>Endereco entrega</h3>

  <%= f.fields_for :endereco_entrega, @pedido.pessoa.enderecos.first do |e| %>
    <div class="field">
      <%= e.label :cep %><br>
      <%= e.text_field :cep %>
    </div>
    <div class="field">
      <%= e.label :rua %><br>
      <%= e.text_field :rua %>
    </div>
    <div class="field">
      <%= e.label :bairro %><br>
      <%= e.text_field :bairro %>
    </div>
    <div class="field">
      <%= e.label :cidade %><br>
      <%= e.text_field :cidade %>
    </div>
    <div class="field">
      <%= e.label :estado %><br>
      <%= e.text_field :estado %>
    </div>
    <div class="field">
      <%= e.label :numero %><br>
      <%= e.number_field :numero %>
    </div>
    <div class="field">
      <%= e.label :complemento %><br>
      <%= e.text_field :complemento %>
    </div>
    <div class="field">
      
    </div>
  <% end %>


   <br />
   <h3>Endereco cobranca</h3>

  <%= f.fields_for :endereco_cobranca, @pedido.pessoa.enderecos.first do |e| %>
    <div class="field">
      <%= e.label :cep %><br>
      <%= e.text_field :cep %>
    </div>
    <div class="field">
      <%= e.label :rua %><br>
      <%= e.text_field :rua %>
    </div>
    <div class="field">
      <%= e.label :bairro %><br>
      <%= e.text_field :bairro %>
    </div>
    <div class="field">
      <%= e.label :cidade %><br>
      <%= e.text_field :cidade %>
    </div>
    <div class="field">
      <%= e.label :estado %><br>
      <%= e.text_field :estado %>
    </div>
    <div class="field">
      <%= e.label :numero %><br>
      <%= e.number_field :numero %>
    </div>
    <div class="field">
      <%= e.label :complemento %><br>
      <%= e.text_field :complemento %>
    </div>
    <div class="field">

    </div>
  <% end %>

  <br />

  <%= f.button "Gerar Pedido", data: {disable_with: "Gerando..."} %>

<% end %>
