<p id="notice"><%= notice %></p>

<%= link_to "Esvaziar carrinho", limpar_carrinhos_path, method: :delete, data: { confirm: "Tem certeza?"} %>

<h2>Meu carrinho de compras</h2>
<table>
  <thead>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Opções</th>
  </thead>
  <tbody>
    <% carrinho_atual.itens.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td>
          <% item = carrinho_atual.encontrar_item_carrinho(produto) %>
          <%= form_for item, url: iten_path(produto) do |f| %>
            <%= f.select :quantidade, 1..produto.qtd_estoque %>
            <%= f.submit "Atualizar", data: {disable_with: "Atualizando..."} %>
          <% end %>
        </td>
        <td><%= number_to_currency produto.preco %></td>
        <td><%= link_to "Limpar", iten_path(produto), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<b>Total: (<%= number_to_currency render_carrinho_preco_total(carrinho_atual) %>)</b>
<br />
<br />
<%= link_to "Checkout", checkout_carrinhos_path, method: :post %>
<%= link_to 'Back', produtos_path %>
