<h2>Cadastrar</h2>

<%= form_for [resource_name, resource.with_pessoa], url: registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <h4>Usuário</h4>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <h4>Pessoa</h4>

  <%= f.fields_for :pessoa do |p| %>
    <div class="field">
      <%= p.label :nome %><br>
      <%= p.text_field :nome %>
    </div>
    <div class="field">
      <%= p.label :cpf %><br>
      <%= p.text_field :cpf %>
    </div>
    <div class="field">
      <%= p.label :telefone %><br>
      <%= p.text_field :telefone %>
    </div>
    <div class="field">
      <%= p.label :data_nascimento %><br>
      <%= p.text_field :data_nascimento %>
    </div>
    <div class="field">
      <%= p.label :sexo %><br>
      <%= p.text_field :sexo %>
    </div>

    <h4>Endereço</h4>

    <%= p.fields_for :endereco do |e| %>

      <div class="field">
        <%= e.label :cep %><br>
        <%= e.text_field :cep %>
      </div>
      <div class="field">
        <%= e.label :rua %><br>
        <%= e.text_field :rua %>
      </div>
      <div class="field">
        <%= e.label :bairro %><br>
        <%= e.text_field :bairro %>
      </div>
      <div class="field">
        <%= e.label :cidade %><br>
        <%= e.text_field :cidade %>
      </div>
      <div class="field">
        <%= e.label :estado %><br>
        <%= e.text_field :estado %>
      </div>
      <div class="field">
        <%= e.label :numero %><br>
        <%= e.number_field :numero %>
      </div>
      <div class="field">
        <%= e.label :complemento %><br>
        <%= e.text_field :complemento %>
      </div>

    <% end %><!-- Fim do form endereco -->

  <% end %><!-- Fim do form pessoa -->

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>

<% end %><!-- Fim do form usuario -->

<%= render "usuarios/shared/links" %>
