<p id="notice"><%= notice %></p>

<h3>Detalhes do pedido</h3>

<table>
  <thead>
    <th>Produto</th>
    <th>Preço unitário</th>
    <th>Quantidade</th>
  </thead>
  <tbody>
    <% @itens_pedido.each do |item_pedido| %>
      <tr>
        <td><%= item_pedido.produto.nome %></td>
        <td><%= number_to_currency item_pedido.preco %></td>
        <td><%= item_pedido.quantidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span>
  <br />
  <font color="red">Total <%= number_to_currency @pedido.total %></font>
  <br /><br />
</span>

<hr />

<h4>Endereço de Entrega</h4>
<p>Rua: <%= @pedido.pessoa.enderecos.first.rua %></p>
<p>CEP: <%= @pedido.pessoa.enderecos.first.cep %></p>
<p>Bairro: <%= @pedido.pessoa.enderecos.first.bairro %></p>
<p>Cidade: <%= @pedido.pessoa.enderecos.first.cidade %></p>
<p>Estado: <%= @pedido.pessoa.enderecos.first.estado %></p>
<p>Número: <%= @pedido.pessoa.enderecos.first.numero %></p>
<p>Complemento: <%= @pedido.pessoa.enderecos.first.complemento %></p>

<br />
<h4>Endereço de Cobrança</h4>
<p>Rua: <%= @pedido.pessoa.enderecos.first.rua %></p>
<p>CEP: <%= @pedido.pessoa.enderecos.first.cep %></p>
<p>Bairro: <%= @pedido.pessoa.enderecos.first.bairro %></p>
<p>Cidade: <%= @pedido.pessoa.enderecos.first.cidade %></p>
<p>Estado: <%= @pedido.pessoa.enderecos.first.estado %></p>
<p>Número: <%= @pedido.pessoa.enderecos.first.numero %></p>
<p>Complemento: <%= @pedido.pessoa.enderecos.first.complemento %></p>

<hr />

<h3>Forma de pagamento</h3>

Ainda não implementado