<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Qtd estoque:</strong>
  <%= @produto.qtd_estoque %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<% if @produto.qtd_estoque > 0%>
  <%= link_to 'Adicionar ao carrinho', adicionar_ao_carrinho_produto_path(@produto), method: :post %> |
<% else %>
  <p>Fora de estoque</p>
<% end %>

<%= link_to 'Back', produtos_path %>
