<!DOCTYPE html>
<html>
<head>
  <title>LojaProdutos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if usuario_signed_in? %>
    <%= current_usuario.email %>
    <%= link_to "Meus pedidos", conta_pedidos_path %>
    <%= link_to "Sair", destroy_usuario_session_path, method: :delete %>
<% else %>
    <%= link_to "Entrar", new_usuario_session_path %>
<% end %>
    <%= link_to "Pessoas", pessoas_path %>
<hr />

Carrinho
<%= link_to carrinhos_path do %>
  ( <%= render_cont_itens_carrinho(carrinho_atual) %> )
<% end %>

<p></p>

<%= yield %>

<%= console %>

</body>
</html>
